header h1
{
	color:blue;
	text-align: center;
	background-color: silver;

}
form
{

	text-align: center;

}
label
{
	margin-bottom: 20px;
	display:block;

}

#login-form
{

}

#welcome-hr
{
	display:none;
}

#listEmp
{
	display:none;
}

#remark
{

	display: none;
}

#registernew
{
	display: none;
}

#sidebar, #userprofile
{
	display: none;
}